@import "tailwindcss";

@layer base {
  :root {
    --background: #fcf9f3;
    --surface: #fcf9f3;
    --surface-container-low: #f6f3ed;
    --surface-container: #f0eee8;
    --surface-container-high: #ebe8e2;
    --surface-variant: #e5e2dc;
    --on-surface: #1c1c18;
    --on-surface-variant: #57423b;
    --primary: #9f3c16;
    --on-primary: #ffffff;
    --outline-variant: #dec0b7;
  }

  body {
    background-color: #fcf9f3 !important;
    color: #1c1c18;
  }
}